<!-- 2 columns -->
<div class="flex mb-4">
  <div class="w-full">
    <%= render "improvements/partials/improvement_content/bars/middle_bar", improvement: @improvement %>
  </div>
  <div class="w-1/5 flex-shrink-0">
    <%= render "improvements/partials/improvement_content/bars/right_bar", improvement: @improvement %>
  </div>
</div>

