<div id="top">
  <div class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">
    <%= render "shared/tech_show_partials/tech_breadcrumbs" %>

    <%= render "shared/tech_show_partials/sourcepage_card", entity: @framework  %>

    <%= render "framework/frameworks/partials/tabs", framework: @framework %>
  </div>
</div>

<%= render "shared/scroll_to_top" %>