<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing unit usage example</h1>

  <%= render "form", unit_usage_example: @unit_usage_example %>

  <%= link_to "Show this unit usage example", @unit_usage_example, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to unit usage examples", unit_usage_examples_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
