<!--      TOC-->
<div class="algorithm-toc">
  <br>
  Table of content:
  <ul role="list" a="" class="space-y-3 text-base list-none sm:text-lg md:mt-5 md:text-xl">
    <% if algorithm_version.solves_the_problem.present? %>
      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster" href="#solves-the-problem">
          ↳ Solves the problem
        </a>
      </li>
    <% end %>
    <li>
      <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster" href="#steps">
        ↳ Steps
      </a>
    </li>

    <% if algorithm_version.sources.present? %>
      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster" href="#sources">
          ↳ Sources
        </a>
      </li>
    <% end %>

    <% if algorithm_version.additional_information.present? %>
      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster" href="#additional-information">
          ↳ Additional information
        </a>
      </li>
    <% end %>

    <li>
      <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster" href="#contribute">
        ↳ Contribute
      </a>
    </li>

    <li>
      <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster" href="#comments">
        ↳ Comments
      </a>
    </li>
  </ul>
</div>