<div class="improvements-content-main-page">

  <!-- Three columns -->
<!--  <div class="flex mb-4">-->
<!--    <div class="w-1/5 h-12">-->
      <%#= render "improvements/improvement_content/bars/left_bar", improvement: @improvement %>
<!--    </div>-->
<!--    <div class="w-3/5">-->
      <%#= render "improvements/improvement_content/bars/middle_bar", improvement: @improvement %>
<!--    </div>-->
<!--    <div class="w-1/5 h-12">-->
      <%#= render "improvements/improvement_content/bars/right_bar", improvement: @improvement %>
<!--    </div>-->
<!--  </div>-->

  <!-- 2 columns -->
  <div class="flex mb-4">
    <div class="w-full">
      <%= render "improvements/improvement_content/bars/middle_bar", improvement: @improvement %>
    </div>
    <div class="w-1/5 h-12 flex-shrink-0">
      <%= render "improvements/improvement_content/bars/right_bar", improvement: @improvement %>
    </div>
  </div>

</div>