<% current_step = nil unless current_step.present? %>
<% scenario = nil unless scenario.present? %>
<div data-controller="algorithm_tree_map_modal"
     data-algorithm_tree_map_modal-allow-background-close="true"
     data-algorithm_tree_map_modal-restore-scroll-value="false"
>
  <!-- Modal toggle -->
  <button
    data-action="click->algorithm_tree_map_modal#open"
    class="w-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
    type="button"
  >
      <span class="items-center justify-center flex justify-middle w-full relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4.37 7.657c2.063.528 2.396 2.806 3.202 3.87 1.07 1.413 2.075 1.228 3.192 2.644 1.805 2.289 1.312 5.705 1.312 6.705M20 15h-1a4 4 0 0 0-4 4v1M8.587 3.992c0 .822.112 1.886 1.515 2.58 1.402.693 2.918.351 2.918 2.334 0 .276 0 2.008 1.972 2.008 2.026.031 2.026-1.678 2.026-2.008 0-.65.527-.9 1.177-.9H20M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
        </svg>
        Open QR page
      </span>
  </button>

  <!-- Main modal -->
  <div id="classTreeMapModal<%=algorithm_version.uuid%>"
       data-algorithm_tree_map_modal-target="container"
       data-action="click->algorithm_tree_map_modal#closeBackground keyup@window->algorithm_tree_map_modal#closeWithKeyboard"
       class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
       style="z-index: 9999;"
  >

    <div class="relative w-full max-w-7xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            QR code
          </h3>

          <button
            data-action="click->algorithm_tree_map_modal#close"
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close modal</span>
          </button>

        </div>


        <!-- 1. CENTERING WRAPPER (This performs the absolute centering) -->
        <div class="flex-1 flex items-center justify-center p-6 min-h-[380px] w-full">

          <!-- YOUR CLASS TARGET (Perfectly locked into the dynamic center) -->
          <div class="bg-white border border-slate-200 rounded-2xl p-5 shadow-sm max-w-sm w-full space-y-4 mx-auto">

            <%= render "algorithm/algorithm_versions/partials/algorithm_content/qr_code_modal/qr_code_gateway",
                       algorithm_version: algorithm_version, current_step: current_step,
                       scenario: scenario %>

          </div>

        </div>





        <!-- Modal footer -->
        <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
          <!--        <button data-modal-hide="extralarge-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>-->
          <button data-action="click->algorithm_tree_map_modal#close"
                  type="button"
                  class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

