<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing logging node</h1>

  <%= render "form", logging_node: @logging_node %>

  <%= link_to "Show this logging node", @logging_node, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to logging nodes", logging_nodes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
