<!-- component -->
<div class="w-full max-w-screen-xl mx-auto px-6">
  <div class="flex justify-center p-4 px-3 py-10">
    <div class="w-full">
      <div class="bg-white shadow-md rounded-lg px-3 py-2 mb-4">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight text-center">New Article</h2>
        <%= render "form", article: @article %>
        <br>
      </div>
    </div>
  </div>
</div>