<!--content -->
<section class="relative py-2 overflow-hidden">
  <div class="relative container px-4 mx-auto">

    <div class="max-w-5xl mx-auto">

      <% binding.pry %>
      <% if simple_class_interface.algorithms.present? %>

        <section class="relative py-2 overflow-hidden">
          <div class="relative container px-4 mx-auto">
<!--            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-1xl sm:tracking-tight text-center">Part 1.Children framework folders:</h2>-->
            <% if simple_class_interface.algorithms.present? %>
              <div class="max-w-8xl mx-auto">
                <% simple_class_interface.algorithms.each do |algorithm| %>
                  <%= render "simple_class/simple_class_interface_partials/action_preview", action: algorithm %>
                <% end %>
              </div>
            <% else %>
              No Framework action(add new)
            <% end %>
          </div>
        </section>

        <!--         See more button -->
        <div class="pt-12 border-t-2 border-gray-100 text-center">
          <%= link_to simple_class_path(ownername: simple_class_interface.simple_class.ownerable.ownername, id: simple_class_interface.simple_class.slug), class: "relative group inline-block py-4 px-7 font-semibold text-orange-900 hover:text-orange-50 rounded-full bg-orange-50 transition duration-300 overflow-hidden" do %>
            <div class="absolute top-0 right-full w-full h-full bg-gray-900 transform group-hover:translate-x-full group-hover:scale-102 transition duration-500"></div>
            <span class="relative">Show folder details</span>
          <% end %>
        </div>

      <% else %>

        <% if current_user.try(:has_resource_modify_permissions?, folder) %>
          <!--  nothing found card for owner of class  -->
          <div class="max-w-4xl p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">This Component doesn't have any Child Components</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">To add new Components inside this Component use the button below.</p>
            <!--            <div class="flex justify-center">-->
            <%#= render "simple_class/simple_classes/partials/add_new_container_member_options_modal", type: "no_container_members_in_class_container", target_class_container: class_container %>
            <!--            </div>-->
          </div>
        <% else %>
          <!--  nothing found card for visitors -->
          <div class="max-w-4xl p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Nothing found
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Owner of this Decision Box didn't added any components yet.</p>
          </div>
        <% end %>

      <% end %>

    </div>
  </div>
</section>