<!-- 2 columns -->
<div class="flex mb-4">
  <div class="w-full">
    <%= render "algorithm/algorithm_versions/partials/usage_content/middle_bar", algorithm_version: algorithm_version %>
  </div>
  <div class="w-1/5 h-12 flex-shrink-0">
    <%= render "algorithm/algorithm_versions/partials/algorithm_content/right_bar", algorithm_version: algorithm_version %>
  </div>
</div>

