<!--<div class="mx-auto md:w-2/3 w-full flex">-->
<!--  <div class="mx-auto">-->
    <%# if notice.present? %>
<!--      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%#= notice %></p>-->
    <%# end %>

    <%#= render "simple_object/simple_objects/simple_object", simple_object: @simple_object %>

    <%#= link_to 'Edit this simple_object', edit_simple_object_simple_object_path(@simple_object), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<!--    <div class="inline-block ml-2">-->
      <%#= button_to 'Destroy this simple_object', simple_object_simple_object_path(@simple_object), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
<!--    </div>-->
    <%#= link_to 'Back to simple_objects', simple_object_simple_objects_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<!--  </div>-->
<!--</div>-->


<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div id="top">
  <%= render "simple_object/simple_objects/partials/tabs", simple_object: @simple_object %>
</div>

<%= render "shared/scroll_to_top" %>


