<!-- list is used for showing in different places -->
<section class="relative py-2 overflow-hidden">
  <div class="relative container px-4 mx-auto">

    <div class="max-w-5xl mx-auto">
      <% repositories.each do |repository| %>
        <%= render "repositories/list_partials/repository_preview", repository: repository %>
      <% end %>

    </div>
  </div>
</section>


