<!--<div data-id="<%#= f.object_name.match(/(\d+)]/)[1] %>" class="nested-fields">-->
<% binding.pry %>
<div class="root-framework-folder">
  <%= f.hidden_field :title %>
  <%= f.hidden_field :description %>
  <%= f.hidden_field :creator_id %>
  <%= f.hidden_field :functional_type %>

  <%#= render "shared/form_partials/containers/container_members/nested_form", :form => f, :type => "root_class" %>

  <%#= render "shared/form_partials/containers/class_containers/nested_form", :form => f %>
</div>






