<!-- 1. LIVE FLOATING NOTIFICATION CONTEXT ZONE (Placed at absolute top of view) -->
<div id="gamified-notification-anchor" class="fixed top-5 left-1/2 transform -translate-x-1/2 z-[100] w-full max-w-md pointer-events-none px-4">
  <!-- Dynamic JavaScript component nodes will inject here -->
</div>