<div data-controller="dashboard_reports">
  <!-- 1 filters and search features -->
  <%= render "dashboards/partials/reports/header" %>

  <!-- 2 breadcrumbs -->
  <%#= render "dashboards/partials/repositories/folder_breadcrumbs" %>

  <!-- 3 reports -->
  <div data-target="dashboard_reports.entries">

  </div>

</div>
