<div data-controller="add_action_options_modal"
     data-add_action_options_modal-allow-background-close="true"
     data-add_action_options_modal-restore-scroll-value="false"
>
  <!--  data-controller="step_type_options_modal"-->

  <% is_hidden = ((type == "interface_group_options_button") ? "hidden" : "") %>

  <div class="block space-y-4 md:flex md:space-y-0 md:space-x-4 ">
    <!-- Modal toggle -->
    <button data-action="click->add_action_options_modal#open"
            data-target="interface_group_management_options_button.addActionOptionsModalOriginalButton"
            class="<%=is_hidden%> relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
            type="button">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
        + Add new Action
      </span>
    </button>
  </div>

  <!-- Extra Large Modal -->
  <div id="add-action-options-modal"
       data-add_action_options_modal-target="container"
       data-action="click->add_action_options_modal#closeBackground keyup@window->add_action_options_modal#closeWithKeyboard"
       class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
       style="z-index: 9999;"
  >

    <div class="relative w-full max-w-7xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
          <!--        <h3 class="text-xl font-medium text-gray-900 dark:text-white">-->
          <!--          Add new Step-->
          <!--        </h3>-->
          <button
            data-action="click->add_action_options_modal#close"
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>

        <!-- Modal body -->
        <div class="p-6 space-y-6">

          <!-- Title and description -->
          <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-1xl sm:tracking-tight text-center">Pick Option for Adding new Action</h2>

          <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
            Here you can pick what type of Tutorial will be used as Action for current Model
          </p>


          <div class="grid grid-cols-2 gap-4">

            <!-- Option 1. Create fully new tutorial -->
            <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">New Method</h5>
              </a>
              (picture of Method creation)
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">You will be redirected to form for picking type of new action.</p>

              <%= link_to "Create new method", new_unit_unit_path(target_interface_group: target_interface_group.uuid),
                          class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
            </div>

            <!-- Option 2. Create Framework level Combo tutorial -->
            <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">New Framework Algorithm</h5>
              </a>
              (picture of creation of new algorithm)
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">A regular step includes such fields as title, instruction, instruction for checking that the step is completed, additional information, and sources of information.</p>

              <%= link_to "Create new Framework Algorithm",
                          new_algorithm_algorithm_path(target_interface_group: target_interface_group.uuid, functional_type: "framework_level"),
                          class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
            </div>

          </div>

        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
          <!--        <button data-modal-hide="extralarge-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>-->
          <button data-action="click->add_action_options_modal#close"
                  type="button"
                  class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Close</button>
        </div>
      </div>
    </div>
  </div>



</div>





