<p style="color: green"><%= notice %></p>
<h1 class="text-2xl text-center mt-5 mb-4">Units search form</h1>

<div data-controller="search">
  <div class="flex justify-center">
    <%= render partial: "algorithm/shared/partials/instructions_autocomplete/units/search_form", locals: { results: [], type: "units" } %>
  </div>


  <h1 class="text-2xl text-center mt-5 mb-4">Search results</h1>
  <div id="units" class="mt-4 mx-10" data-target="search.entries">
    <%= render "algorithm/shared/partials/instructions_autocomplete/units/list", units: [], :form => form %>
  </div>

</div>




<!--<div class="container">-->
<!--  <div class="row justify-content-center" data-controller="search">-->
<!--    <div class="col-xs-12 col-sm-6">-->
<!--      <h1>Cocktails</h1>-->
      <%#= form_with(url: "/", method: :get, data: {action: "submit->search#submit"}) do |f| %>
        <%#= label_tag(:query, "Search for") %>
        <%#= text_field_tag :query, params[:query], data: {target: "search.query"} %>
        <%#= submit_tag("Search", class: "btn btn-primary") %>
      <%# end %>
<!--      <div id="cocktails" data-target="search.cocktails">-->
        <%#= render @cocktails %>
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->