<div class="class-containers">

  <%= render "shared_class_layer/class_containers/class_container_show_partials/header", class_container: class_container %>

  <%= render "shared_class_layer/class_containers/class_container_show_partials/search_bar", class_container: class_container %>

  <%= render "shared_class_layer/class_containers/class_container_show_partials/actions_bar", class_container: class_container %>

  <%= render "shared_class_layer/class_containers/class_container_show_partials/container_members_list", class_container: class_container %>

</div>

