<div data-controller="step_type_options_modal"
     data-step_type_options_modal-allow-background-close="true"
     data-step_type_options_modal-restore-scroll-value="false"
>

  <div class="block space-y-4 md:flex md:space-y-0 md:space-x-4">
    <!-- Modal toggle -->
    <button data-action="click->step_type_options_modal#open"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
            type="button">
    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
      + Add new Step
    </span>
    </button>
  </div>


  <!-- Extra Large Modal -->
  <div id="step-type-select-modal"
       data-step_type_options_modal-target="container"
       data-action="click->step_type_options_modal#closeBackground keyup@window->step_type_options_modal#closeWithKeyboard"
       class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
       style="z-index: 9999;"
  >

    <div class="relative w-full max-w-7xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
          <!--        <h3 class="text-xl font-medium text-gray-900 dark:text-white">-->
          <!--          Add new Step-->
          <!--        </h3>-->
          <button data-target="algorithm_step_type_select.closeOptionsModalButton"
                  data-action="click->step_type_options_modal#close"
                  type="button"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>

        <!-- Modal body -->
        <div class="p-6 space-y-6">

          <!-- Title and description -->
          <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-1xl sm:tracking-tight text-center">Pick the type of Step</h2>

          <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
            Each type of step has its own strengths and weaknesses. For simpler algorithms, the usual steps are fine. Wrappers are suitable for advanced systems.
          </p>

          <!-- Regular step -->
          <div class="grid grid-cols-2 gap-4">
            <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Regular Step</h5>
              </a>
              (picture of regular step)
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">A regular step includes such fields as title, instruction, instruction for checking that the step is completed, additional information, and sources of information.</p>
              <button data-action="click->algorithm_step_type_select#handleRegularStepButtonClick"
                      type="button"
                      onclick="return false;"
                      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Add regular step
              </button>
            </div>

            <!-- Wrapper step -->
            <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">"Wrapper" Step</h5>
              </a>
              (picture of wrapper step)
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">This type of step includes such fields as title, link to the Method or Algorithm, note on how to use the Method or Algorithm in the context of the new algorithm, and additional information.</p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">This type of step is used when you want to use other Methods or Algorithms as part of your new algorithm. When the original Methods and Algorithms are updated, your Algorithm will also be updated.</p>
              <button data-action="click->algorithm_step_type_select#handleWrapperStepButtonClick"
                      type="button"
                      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Add "Wrapper" step
              </button>
            </div>

            <!-- Container step -->
            <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">"Container" Step</h5>
              </a>
              (picture of container step)
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                This type of step includes other methods which you will place inside of it. You also will be able add title and note on how to use the Methods or Algorithms of this group.
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                This type of step is used when you want to organize regular steps and/or wrapper steps in a group where you can use them one after another.
              </p>
              <button data-action="click->algorithm_step_type_select#handleContainerStepButtonClick"
                      type="button"
                      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Add "Container" step
              </button>
            </div>

          </div>


          <!--          template -->
          <!--        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">-->
          <!--          <a href="#">-->
          <!--            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>-->
          <!--          </a>-->
          <!--          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>-->
          <!--          <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">-->
          <!--            Add new Decision object container-->
          <!--            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>-->
          <!--          </a>-->
          <!--        </div>-->



        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
          <!--        <button data-modal-hide="extralarge-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>-->
          <button data-action="click->step_type_options_modal#close"
                  type="button"
                  class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Close</button>
        </div>
      </div>
    </div>
  </div>



</div>





