<section class="relative py-2 overflow-hidden">
  <div class="relative container px-4 mx-auto">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-1xl sm:tracking-tight text-center">Part 1.Current layer interface groups (actions groups):</h2>
    <% if interface_group.children.present? %>
      <div class="max-w-8xl mx-auto">
        <% interface_group.children.each do |interface_group| %>
          <%= render "simple_class/interface_groups/interface_group/interface_group_preview", interface_group: interface_group %>
        <% end %>
      </div>
    <% else %>
      No container members (add new)
    <% end %>

    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-1xl sm:tracking-tight text-center">Part 2.Current layer technologies:</h2>
    <% if interface_group.interface_members.present? %>
      <div class="max-w-8xl mx-auto">
        <% interface_group.interface_members.each do |interface_member| %>
          <%= render "simple_class/interface_groups/interface_group/interface_member_preview", interface_member: interface_member %>
        <% end %>
      </div>
    <% else %>
      No interface members (add new)
    <% end %>
  </div>
</section>

