<div class="interface-groups">

  <%= render "simple_class/interface_groups/interface_group/header", interface_group: interface_group %>

  <%= render "simple_class/interface_groups/interface_group/search_bar", interface_group: interface_group %>

  <%= render "simple_class/interface_groups/interface_group/interface_members_list", interface_group: interface_group %>

</div>

