<!--<p style="color: green"><%#= notice %></p>-->

<%#= render @unit %>

<!--<div>-->
<!--  <%#= link_to "Edit this unit", edit_unit_path(@unit) %> |-->
<%#= link_to "Back to units", units_path %>

<%#= button_to "Destroy this unit", @unit, method: :delete %>
<!--</div>-->



<div id="top">
  <div class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">

    <%= render "unit/unit_versions/partials/tabs", unit_version: @unit_version %>

  </div>
</div>

<%= render "shared/scroll_to_top" %>