<!--<div class="mx-auto md:w-2/3 w-full flex">-->
<!--  <div class="mx-auto">-->
    <%# if notice.present? %>
<!--      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%#= notice %></p>-->
    <%# end %>

    <%#= render @article_version %>

    <%#= link_to 'Edit this article_version', edit_article_version_path(@article_version), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<!--    <div class="inline-block ml-2">-->
      <%#= button_to 'Destroy this article_version', article_version_path(@article_version), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
<!--    </div>-->
    <%#= link_to 'Back to article_versions', article_versions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<!--  </div>-->
<!--</div>-->



<div id="top">
  <div class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">

    <%= render "shared/tech_show_partials/tech_breadcrumbs" %>

    <%= render "shared/tech_show_partials/sourcepage_card", entity: @article  %>

    <%= render "article/article_versions/partials/tabs", article_version: @article_version %>

  </div>
</div>


<%= render "shared/scroll_to_top" %>