<% scenario ||= nil %>
<h1 class="text-2xl text-center mt-5 mb-4">Cheat Sheet search form</h1>

<div data-controller="search_instructions"
     data-target="remote_select_instruction.searchInstructionsInstance
                  remote_select_attachment.searchInstructionsInstance
                  remote_select_link_attachment.searchInstructionsInstance
                  remote_select_cheat_sheet_group_section.searchInstructionsInstance"
>

  <!--  Part 1. Search form-->
  <div class="flex justify-center">
    <%= render partial: "shared/technologies_search/shared/search_form",
      locals: { type: "cheat_sheets",
        scenario: scenario } %>
  </div>

  <!--  Part 2. Form results -->
  <h1 class="text-2xl text-center mt-5 mb-4">Search results</h1>
  <div id="units_versions_search_results"
       class="mt-4 mx-10"
       data-target="search_instructions.entries">
    <%= render "shared/technologies_search/cheat_sheets/list", cheat_sheets: [] %>
  </div>
  <div id="loadMoreButton" class="mt-4 mx-10 flex items-center justify-center hidden" data-target="search_instructions.loadMoreButton">
    <button type="button" data-action="click->search_instructions#loadMore"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Load more
        </span>
    </button>
  </div>
</div>
