<!-- 2 columns -->
<div class="flex mb-4">
  <div class="w-full">
    <%= render "cheat_sheet/cheat_sheet_versions/partials/cheat_sheet_content/bars/middle_bar", cheat_sheet_version: cheat_sheet_version %>
  </div>
  <div class="w-1/5 flex-shrink-0">
    <%= render "cheat_sheet/cheat_sheet_versions/partials/cheat_sheet_content/bars/right_bar", cheat_sheet_version: cheat_sheet_version %>
  </div>
</div>