<div id="<%= dom_id algorithm_tree %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Algorithm version title:</strong>
    <%= algorithm_tree.algorithm_version_title %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this algorithm tree", algorithm_tree, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this algorithm tree', edit_algorithm_tree_path(algorithm_tree), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
