<!--for 2 columns-->
<!--<div class="py-10 lg:w-2/3 w-full md:pr-6 md:border-r border-gray-300">-->
<!--</div>-->

<div class="improvements-content">

  <%= render "unit/unit_versions/partials/improvements_content/header", unit_version: unit_version %>

  <%= render "unit/unit_versions/partials/improvements_content/search_bar", unit_version: unit_version %>

  <%= render "unit/unit_versions/partials/improvements_content/topics_list", unit_version: unit_version %>

</div>






















































