<div class='items-center justify-center'>

  <% if @algorithms.present? %>
    <% @algorithms.each do |algorithm| %>
      <%= render partial: "shared/technologies_search/algorithms/single_preview", locals: {algorithm: algorithm, scenario: scenario} %>
    <% end %>
  <% end %>

</div>
<br>