
<div id="top">
  <div class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">

    <%= render "improvements/improvement_content/breadcrumbs" %>

    <div class="p-4 rounded-lg h-full" id="improvement-content">
      <%= render "improvements/improvement_content/main_page", improvement: @improvement %>
    </div>

  </div>
</div>

<%= render "shared/scroll_to_top" %>





