<div id="top">
  <div class="pt-8 pb-16 lg:pt-8 lg:pb-24 bg-white dark:bg-gray-900">
    <%= render "shared/tech_show_partials/tech_breadcrumbs" %>
    <br>
    <%= render "improvements/improvement_content/bars", improvement: @improvement %>
  </div>
</div>

<%= render "shared/scroll_to_top" %>

