<!--      TOC-->
<div class="method-toc">
  <br>
  <p class="text-base">Table of content:</p>
  <ul role="list" a="" class="space-y-3 text-base list-none sm:text-lg md:mt-5 md:text-xl">
    <% if unit_version.solves_the_problem.present? %>
      <li>
        <a class="text-base font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           href="#unit-solves-the-problem-<%= unit_version.id %>">
          ↳ Solves the problem
        </a>
      </li>
    <% end %>
    <li>
      <a class="text-base font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
         href="#unit-instruction-<%= unit_version.id %>">
        ↳ Instruction
      </a>
    </li>

    <% if unit_version.sources.present? %>
      <li>
        <a class="text-base font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           href="#unit-sources-<%= unit_version.id %>">
          ↳ Sources
        </a>
      </li>
    <% end %>

    <% if unit_version.additional_information.present? %>
      <li>
        <a class="text-base font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           href="#unit-additional-information-<%= unit_version.id %>">
          ↳ Additional information
        </a>
      </li>
    <% end %>
  </ul>
</div>