<!--for 2 columns-->
<!--<div class="py-10 lg:w-2/3 w-full md:pr-6 md:border-r border-gray-300">-->
<!--</div>-->

<div class="improvements-content">

  <%= render "units/partials/improvements_content/header", unit: unit %>

  <%= render "units/partials/improvements_content/search_bar", unit: unit %>

  <%= render "units/partials/improvements_content/topics_list", unit: unit %>

</div>






















































