<div data-controller="dynamic_step_form"
     data-target="dynamic_step_form.dynamicNodeForm">

  <%= form.simple_fields_for(:subnodes, Algorithms::Nodes::Step.new) do |step| %>
    <%# step.options[:child_index] = Time.now.strftime("%I%M%S") %>
    <%= render "algorithm/shared/partials/steps/wrapper_step_fields", :f => step %>
  <% end %>

</div>