<!--interface groups section -->
<div class="interface-groups-section">

  <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-1xl sm:tracking-tight text-center" id="class-actions">Actions:</h2>

  <!--  toc -->
  <%= render "simple_class/simple_classes/partials/content/middle_bar_partials/interface_groups/toc",
             root_interface_group: simple_class.root_interface_group %>
  <br>

  <!--  first layer of interface groups (next layer after first root interface group) -->
    <% binding.pry %>
    <%#= render "simple_class/simple_classes/partials/content/middle_bar_partials/interface_groups/interface_group_preview", interface_group: simple_class.root_interface_group  %>

  <!-- children interface groups -->
  <% simple_class.root_interface_group.children.each do |interface_group| %>
    <%= render "simple_class/simple_classes/partials/content/middle_bar_partials/interface_groups/interface_group_preview", interface_group: interface_group %>
  <% end %>

  <div class="bg-gray-50 px-4 py-3 sm:px-6">
    <div class="text-end">
      <%= link_to "+ Add new Actions group",
                  new_simple_class_interface_group_path(target_interface_group: simple_class.root_interface_group.uuid),
                  class: "inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>
  </div>
</div>
