<!-- TOC-->

<div class="interface-groups-toc" data-controller="toc_scrolling">
  <br>
  Actions groups:
  <ul role="list" class="space-y-3 text-base list-none sm:text-lg md:mt-5 md:text-xl">
    <!-- 1.for root interface group - Main group-->
    <!--    DOC: Wwe dont display root interface_group in toc, it stays hidden -->
<!--    <li>-->
<!--      <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"-->
<!--         onclick="return false;"-->
<!--         href=""-->
<!--         data-action="click->toc_scrolling#scroll"-->
<!--         data-anchor=#interface-group-<%#= root_interface_group.id %>-->
<!--      >-->
<!--        ↳ <%#= root_interface_group.title %>-->
<!--      </a>-->
<!--    </li>-->

    <!-- 2.for children interface groups -->
    <% root_interface_group.groups.each do |interface_group| %>
      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href=""
           data-action="click->toc_scrolling#scroll"
           data-anchor=#interface-group-<%= interface_group.id %>
        >
          ↳ <%= interface_group.title %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
<hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
