<!-- Three columns -->
<div class="flex mb-4">
  <div class="w-full">
    <%= render "algorithm/steps/index_partials/steps_content/bars/middle", algorithm: algorithm, algorithm_version: algorithm_version %>
  </div>
<!--  <div class="w-1/5 flex-shrink-0">-->
    <%#= render "algorithm/steps/index_partials/steps_content/bars/right", algorithm_version: algorithm_version %>
<!--  </div>-->
</div>