<!--<p style="color: green"><%#= notice %></p>-->

<%#= render "algorithm/algorithms/algorithm", algorithm: @algorithm %>

<!--<div>-->
<!--  <%#= link_to "Edit this algorithm", edit_algorithm_algorithm_path(@algorithm) %> |-->
  <%#= link_to "Back to algorithms", algorithm_algorithms_path %>

  <%#= button_to "Destroy this algorithm", algorithm_algorithm_path(@algorithm, method: :delete) %>
<!--</div>-->
