<div class="unit-usage-examples-content">

  <%= render "unit/unit_versions/partials/usage_examples_content/header", unit_version: @unit_version %>

  <%= render "unit/unit_versions/partials/usage_examples_content/search_bar", unit_version: @unit_version %>

  <%= render "unit/unit_versions/partials/usage_examples_content/topics_list", unit_version: @unit_version %>

</div>