<div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800">
  <div class="usage-examples-items">
    <div data-controller="usage_examples_serp">
      <div data-target="usage_examples_serp.entries">
        <%#= render "units/partials/improvements_items" %>
      </div>

      <div data-target="usage_examples_serp.pagination">
        <!--  nothing -->
        <%#== pagy_nav @pagy %>
      </div>
    </div>
  </div>

</div>
