<!-- Three columns -->
<div class="flex mb-4">
<!--  <div class="w-1/5 h-12">-->
    <%#= render "algorithm/algorithm_versions/show_partials/algorithm_content/left_bar", algorithm_version: algorithm_version %>
<!--  </div>-->
<!--  <div class="w-3/5">-->
  <div class="w-full">
    <%= render "algorithm_reports/algorithm_reports/show_partials/algorithm_report_content/bars/middle", algorithm_report: algorithm_report %>
  </div>
  <div class="w-1/5 flex-shrink-0">
    <%= render "algorithm_reports/algorithm_reports/show_partials/algorithm_report_content/bars/right", algorithm_report: algorithm_report %>
  </div>
</div>
