<div class="relative block p-2 overflow-hidden border bg-white rounded-lg ml-2 mr-6 w-full border-4 border-indigo-200 border-l-indigo-500">

  <span class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

  <div class="justify-between sm:flex">

    <div class="p-2 md:flex md:justify-center gap-2">
      <div class="flex-shrink-0 ml-3 sm:block">
        <img
          class="object-cover w-8 h-8 rounded-lg shadow-sm"
          src="https://github.com/creativetimofficial/argon-design-system/blob/master/assets/img/faces/team-2.jpg?raw=true"
          alt=""
          />
      </div>
      <!-- ... -->
      <div class="flex items-center justify-center">
        <h5 class="text-lg font-bold text-slate-900">
          Components:
        </h5>
      </div>
    </div>

  </div>

</div>