<div id="dynamic-tree" data-target="simple_class_tree_map.dynamicTree">
  <ul>
    <%= render "shared_class_layer/simple_class_dynamic_tree_view/main_sections",
               class_layer_entity: class_layer_entity, leaf_type: leaf_type %>
  </ul>
</div>
