<div class="account-settings-bar pb-16">
  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight text-center">Account settings</h2>

  <%= render "users/user_settings/account_partials/account_settings_form" %>
</div>