<!-- Three columns -->
<div class="flex mb-4">
  <div class="w-1/5 h-12">
    <%= render "framework/frameworks/partials/content/bars/left_bar", framework: @framework %>
  </div>
  <div class="w-3/5">
    <%= render "framework/frameworks/partials/content/bars/middle_bar", framework: @framework %>
  </div>
  <div class="w-1/5 h-12">
    <%= render "framework/frameworks/partials/content/bars/right_bar", framework: @framework %>
  </div>
</div>