<div id="dynamic-tree" data-target="simple_class_tree_map.dynamicTree">
  <ul>
    <%= render "framework/framework_dynamic_tree_view/main_sections",
               framework: framework, leaf_type: leaf_type %>
  </ul>
</div>
