<!--    Sorting by update time -->
<button id="dropdownRadioHelperButtonSortingByUpdateTime"
        data-dropdown-toggle="dropdownRadioHelperSortingByUpdateTime"
        class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
        type="button">Filter by updates <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
</button>

<!-- Dropdown menu -->
<div id="dropdownRadioHelperSortingByUpdateTime" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-60 dark:bg-gray-700 dark:divide-gray-600">
  <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioHelperButtonSortingByUpdateTime">
    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <div class="flex items-center h-5">
          <input id="helper-radio-8"
                 name="helper-radio-by-update-time"
                 type="radio"
                 value="recently_updated"
                 data-target="improvements_infinite_scroll.sortingByUpdateTime"
                 data-action="click->improvements_infinite_scroll#selectSortingOption"
                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        </div>
        <div class="ml-2 text-sm">
          <label for="helper-radio-8" class="font-medium text-gray-900 dark:text-gray-300">
            <div>Recently updated</div>
            <p id="helper-radio-text-8" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
          </label>
        </div>
      </div>
    </li>
    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <div class="flex items-center h-5">
          <input id="helper-radio-9"
                 name="helper-radio-by-update-time"
                 type="radio"
                 value="least_recently_updated"
                 data-target="improvements_infinite_scroll.sortingByUpdateTime"
                 data-action="click->improvements_infinite_scroll#selectSortingOption"
                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        </div>
        <div class="ml-2 text-sm">
          <label for="helper-radio-9" class="font-medium text-gray-900 dark:text-gray-300">
            <div>Least recently updated</div>
            <p id="helper-radio-text-9" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
          </label>
        </div>
      </div>
    </li>
  </ul>
</div>


<!--    Sorting by posting time -->
<button id="dropdownRadioHelperButtonSortingByPostingTime"
        data-dropdown-toggle="dropdownRadioHelperSortingByPostingTime"
        class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
        type="button">Filter by posting time <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
</button>

<!-- Dropdown menu -->
<div id="dropdownRadioHelperSortingByPostingTime" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-60 dark:bg-gray-700 dark:divide-gray-600">
  <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioHelperButtonSortingByPostingTime">
    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <div class="flex items-center h-5">
          <input id="helper-radio-6"
                 name="helper-radio-by-posting-time"
                 type="radio"
                 value="newest"
                 data-target="improvements_infinite_scroll.sortingByPostingTime"
                 data-action="click->improvements_infinite_scroll#selectSortingOption"
                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        </div>
        <div class="ml-2 text-sm">
          <label for="helper-radio-6" class="font-medium text-gray-900 dark:text-gray-300">
            <div>Newest</div>
            <p id="helper-radio-text-6" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
          </label>
        </div>
      </div>
    </li>
    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <div class="flex items-center h-5">
          <input id="helper-radio-7" name="helper-radio-by-posting-time" type="radio" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        </div>
        <div class="ml-2 text-sm">
          <label for="helper-radio-7" class="font-medium text-gray-900 dark:text-gray-300">
            <div>Oldest</div>
            <p id="helper-radio-text-7" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
          </label>
        </div>
      </div>
    </li>
  </ul>
</div>


<!--    Sorting by comments -->
<button id="dropdownRadioHelperButtonSortingByComments"
        data-dropdown-toggle="dropdownRadioHelperSortingByComments"
        class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
        type="button">Filter by comments <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
</button>

<!-- Dropdown menu -->
<div id="dropdownRadioHelperSortingByComments" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-60 dark:bg-gray-700 dark:divide-gray-600">
  <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioHelperButtonSortingByComments">
    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <div class="flex items-center h-5">
          <input id="helper-radio-4" name="helper-radio-by-comments" type="radio" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        </div>
        <div class="ml-2 text-sm">
          <label for="helper-radio-4" class="font-medium text-gray-900 dark:text-gray-300">
            <div>Most commented</div>
            <p id="helper-radio-text-4" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
          </label>
        </div>
      </div>
    </li>
    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <div class="flex items-center h-5">
          <input id="helper-radio-5" name="helper-radio-by-comments" type="radio" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        </div>
        <div class="ml-2 text-sm">
          <label for="helper-radio-5" class="font-medium text-gray-900 dark:text-gray-300">
            <div>Least commented</div>
            <p id="helper-radio-text-5" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
          </label>
        </div>
      </div>
    </li>
  </ul>
</div>

