<!-- 2 columns -->
<div class="flex mb-4">
  <div class="w-full">
    <%= render "simple_class/simple_class_attributes/show_partials/simple_class_attribute_content/bars/middle_bar", simple_class_attribute: simple_class_attribute %>
  </div>
  <div class="w-1/5 flex-shrink-0">
    <%= render "simple_class/simple_class_attributes/show_partials/simple_class_attribute_content/bars/right_bar", simple_class_attribute: simple_class_attribute %>
  </div>
</div>