<!-- TOC-->
<% if class_containers.any? || class_containers_root.present? %>
  <div class="interface-groups-toc">
    <br>
    Class containers list :
    <ul role="list" a="" class="space-y-3 text-base list-none sm:text-lg md:mt-5 md:text-xl">

      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           href="#interface-group-<%= class_containers_root.id %>">
          ↳ <%= class_containers_root.title %>
        </a>
      </li>

      <% class_containers.each do |class_container| %>
        <li>
          <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
             href="#class-container-<%= class_container.id %>">
            ↳ <%= class_container.title %>
          </a>
        </li>
      <% end %>

    </ul>
  </div>
  <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
<% end %>