<!-- Three columns -->
<div class="flex mb-4">
<!--  <div class="w-full">-->
  <div class="w-full">
    <%= render "algorithm_reports/algorithm_execution/edit_partials/content",
               step: step, algorithm_version: algorithm_version, algorithm_report_step: algorithm_report_step %>
  </div>
<!--  <div class="w-1/5 flex-shrink-0">-->
    <%#= render "algorithm/steps/show_partials/step_content/bars/right", algorithm_version: algorithm_version %>
<!--  </div>-->
</div>


