<div data-controller="dashboard_repositories">
  <!-- 1 filters and search features -->
  <%= render "dashboards/partials/repositories/header" %>

  <!-- 2 breadcrumbs -->
  <%#= render "dashboards/partials/repositories/folder_breadcrumbs" %>

  <!-- 3 repositories -->
  <div data-target="dashboard_repositories.entries">

  </div>

</div>
