<!--About-->

Title:
<%= @simple_class.title %>
<br>
Type of class:
<%= type_readable_name(@simple_class) %>
<br>


<!--SimpleObjects::TypeTypes[:decision_process_object]-->
<!--Link to doc with type of class-->
<!--Report class link-->

<!--Releases-->
<!--No releases published-->
<!--Packages-->
<!--No packages published-->

<!--Languages-->
<!--Ruby-->
<!--78.4%-->

<!--HTML-->
<!--17.7%-->

<!--CSS-->
<!--2.3%-->

<!--JavaScript-->
<!--1.3%-->

<!--CoffeeScript-->
<!--0.3%-->

<!--Tags-->
<!--tag 1 tag 2 tag 3-->

<!--Used in other objects-->
<!--...-->
<!--Used in other algorithms-->
<!--...-->

<button class="px-24 py-4 bg-gray-900 rounded-md text-white text-sm focus:border-transparent">Follow</button>
<button class="px-24 py-4 bg-gray-900 rounded-md text-white text-sm focus:border-transparent">Bookmark</button>