<!--      TOC-->
<div class="class-sections-toc" data-controller="toc_scrolling">
  <br>
  Table of content:
  <ul role="list" class="space-y-3 text-base list-none sm:text-lg md:mt-5 md:text-xl">

    <li>
      <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
         onclick="return false;"
         href=""
         data-action="click->toc_scrolling#scroll"
         data-anchor="#class-attributes"
      >
        ↳ Attributes
      </a>
    </li>


    <% if simple_class.functional_type_value == "decision_process_object_class" %>
      <li>
        <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href=""
           data-action="click->toc_scrolling#scroll"
           data-anchor="#dpo-algorithm"
        >
          ↳ Algorithm
        </a>
      </li>
    <% end %>

    <li>
      <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
         onclick="return false;"
         href=""
         data-action="click->toc_scrolling#scroll"
         data-anchor="#class-actions"
      >
        ↳ Actions
      </a>
    </li>

    <% if simple_class.functional_type_value == "decision_object_container_class" %>
      <li>
        <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href=""
           data-action="click->toc_scrolling#scroll"
           data-anchor="#class-components"
        >
          ↳ Components
        </a>
      </li>
    <% end %>


  </ul>
</div>