<div id="top">
  <div class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">

    <%= render "shared/tech_show_partials/tech_breadcrumbs" %>

    <%= render "framework/framework_folders/show_partials/main_page", framework_folder: @framework_folder %>

  </div>
</div>

<%= render "shared/scroll_to_top" %>


