<!--for 2 columns-->
<!--<div class="py-10 lg:w-2/3 w-full md:pr-6 md:border-r border-gray-300">-->
<!--</div>-->

<div class="improvements-content" data-controller="improvements_infinite_scroll">

  <%= render "technologies/improvements_content/header", entity: entity %>

  <%= render "technologies/improvements_content/search_bar", entity: entity %>

  <%= render "technologies/improvements_content/topics_list", entity: entity %>

</div>






















































