<!--    Sorting -->
<button id="dropdownRadioHelperButtonSorting"
        data-dropdown-toggle="dropdownRadioHelperSorting"
        class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
        type="button">Sort results <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
</button>

<!-- Dropdown menu -->
<div id="dropdownRadioHelperSorting" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-60 dark:bg-gray-700 dark:divide-gray-600">
  <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioHelperButtonSorting">

    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <div class="flex items-center h-5">
          <input id="helper-radio-1"
                 name="helper-radio-sorting"
                 type="radio"
                 value="newest"
                 data-target="improvements_infinite_scroll.sortingOption"
                 data-action="click->improvements_infinite_scroll#selectSortingOption"
                 data-sorting-option-value="newest"
                 checked="checked"
                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        </div>
        <div class="ml-2 text-sm">
          <label for="helper-radio-1" class="font-medium text-gray-900 dark:text-gray-300">
            <div>Newest</div>
            <p id="helper-radio-text-1" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
          </label>
        </div>
      </div>
    </li>

    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <div class="flex items-center h-5">
          <input id="helper-radio-2"
                 name="helper-radio-sorting"
                 type="radio"
                 value="oldest"
                 data-target="improvements_infinite_scroll.sortingOption"
                 data-action="click->improvements_infinite_scroll#selectSortingOption"
                 data-sorting-option-value="oldest"
                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        </div>
        <div class="ml-2 text-sm">
          <label for="helper-radio-2" class="font-medium text-gray-900 dark:text-gray-300">
            <div>Oldest</div>
            <p id="helper-radio-text-2" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
          </label>
        </div>
      </div>
    </li>

    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <div class="flex items-center h-5">
          <input id="helper-radio-3"
                 name="helper-radio-sorting"
                 type="radio"
                 value="most_commented"
                 data-target="improvements_infinite_scroll.sortingOption"
                 data-action="click->improvements_infinite_scroll#selectSortingOption"
                 data-sorting-option-value="most_commented"
                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        </div>
        <div class="ml-2 text-sm">
          <label for="helper-radio-3" class="font-medium text-gray-900 dark:text-gray-300">
            <div>Most commented</div>
            <p id="helper-radio-text-3" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
          </label>
        </div>
      </div>
    </li>

    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <div class="flex items-center h-5">
          <input id="helper-radio-4"
                 name="helper-radio-sorting"
                 type="radio"
                 value="least_commented"
                 data-target="improvements_infinite_scroll.sortingOption"
                 data-action="click->improvements_infinite_scroll#selectSortingOption"
                 data-sorting-option-value="least_commented"
                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        </div>
        <div class="ml-2 text-sm">
          <label for="helper-radio-4" class="font-medium text-gray-900 dark:text-gray-300">
            <div>Least commented</div>
            <p id="helper-radio-text-4" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
          </label>
        </div>
      </div>
    </li>

    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <div class="flex items-center h-5">
          <input id="helper-radio-5"
                 name="helper-radio-sorting"
                 type="radio"
                 value="recently_updated"
                 data-target="improvements_infinite_scroll.sortingOption"
                 data-action="click->improvements_infinite_scroll#selectSortingOption"
                 data-sorting-option-value="recently_updated"
                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        </div>
        <div class="ml-2 text-sm">
          <label for="helper-radio-5" class="font-medium text-gray-900 dark:text-gray-300">
            <div>Recently updated</div>
            <p id="helper-radio-text-5" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
          </label>
        </div>
      </div>
    </li>

    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <div class="flex items-center h-5">
          <input id="helper-radio-6"
                 name="helper-radio-sorting"
                 type="radio"
                 value="least_recently_updated"
                 data-target="improvements_infinite_scroll.sortingOption"
                 data-action="click->improvements_infinite_scroll#selectSortingOption"
                 data-sorting-option-value="least_recently_updated"
                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        </div>
        <div class="ml-2 text-sm">
          <label for="helper-radio-6" class="font-medium text-gray-900 dark:text-gray-300">
            <div>Least recently updated</div>
            <p id="helper-radio-text-6" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
          </label>
        </div>
      </div>
    </li>

  </ul>
</div>