<!-- dashboard_tabs -->
<div data-controller="dashboard_tabs"
     data-dashboard_tabs-active-tab="inline-block p-4 border-b-2 rounded-t-lg text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500"
     data-dashboard_tabs-inactive-tab="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">

  <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-dashboard_tabs-toggle="#myTabContent" role="tablist">
      <li class="mr-2" role="presentation" data-dashboard_tabs-target="tab" data-action="click->dashboard_tabs#change">
        <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" type="button" role="tab" aria-controls="profile" aria-selected="false">Technologies</button>
      </li>
      <li class="mr-2" role="presentation" data-dashboard_tabs-target="tab" data-action="click->dashboard_tabs#change">
        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Bookmarks</button>
      </li>
      <li class="mr-2" role="presentation" data-dashboard_tabs-target="tab" data-action="click->dashboard_tabs#change">
        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" type="button" role="tab" aria-controls="settings" aria-selected="false">Sometng else</button>
      </li>
    </ul>
  </div>

  <div class="hidden py-4 px-4 border-l border-b border-r" data-dashboard_tabs-target="panel">
    <%= render "dashboards/partials/technologies" %>
  </div>

  <div class="hidden py-4 px-4 border-l border-b border-r" data-dashboard_tabs-target="panel">
    Tab panel 2 (bookmarks)
  </div>

  <div class="hidden py-4 px-4 border-l border-b border-r" data-dashboard_tabs-target="panel">
    Tab panel 3
  </div>

</div>