

<div data-controller="dashboard_technologies">
  <!-- 1 filters and search features -->
  <%= render "dashboards/partials/technologies_header" %>

  <!-- 2 breadcrumbs -->
  <%= render "dashboards/partials/folder_breadcrumbs" %>

  <!-- 2 folders and units -->
  <div data-target="dashboard_technologies.entries">

  </div>

  <%#= render "shared/technologies_search/algorithms/list", algorithms: [] %>
</div>
