<!-- Three columns -->
<div class="flex mb-4">
  <div class="w-1/5 h-12">
    <%= render "unit/units/partials/method_content/left_bar", unit: unit %>
  </div>
  <div class="w-3/5">
    <%= render "unit/units/partials/method_content/middle_bar", unit: unit %>
  </div>
  <div class="w-1/5 h-12">
    <%= render "unit/units/partials/method_content/right_bar", unit: unit %>
  </div>
</div>















