<!--for 2 columns-->
<!--<div class="py-10 lg:w-2/3 w-full md:pr-6 md:border-r border-gray-300">-->
<!--</div>-->

<div class="improvements-content">

  <%= render "algorithm/algorithm_versions/partials/improvements_content/header", algorithm_version: algorithm_version %>

  <%= render "algorithm/algorithm_versions/partials/improvements_content/search_bar", algorithm_version: algorithm_version %>

  <%= render "algorithm/algorithm_versions/partials/improvements_content/topics_list", algorithm_version: algorithm_version %>

</div>