<!--<div class="mx-auto md:w-2/3 w-full flex">-->
<!--  <div class="mx-auto">-->
    <%# if notice.present? %>
<!--      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%#= notice %></p>-->
    <%# end %>

    <%#= render @unit_usage_example %>

    <%#= link_to 'Edit this unit_usage_example', edit_unit_usage_example_path(@unit_usage_example), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<!--    <div class="inline-block ml-2">-->
      <%#= button_to 'Destroy this unit_usage_example', unit_usage_example_path(@unit_usage_example), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
<!--    </div>-->
    <%#= link_to 'Back to usage_examples', unit_usage_examples_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<!--  </div>-->
<!--</div>-->


<div id="top">
  <div class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">

    <%= render "usage_examples/usage_example_content/breadcrumbs" %>

    <div class="p-4 rounded-lg h-full" id="improvement-content">
      <%= render "usage_examples/usage_example_content/main_page", usage_example: @usage_example %>
    </div>

  </div>
</div>

<%= render "shared/scroll_to_top" %>
