<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing control structure</h1>

  <%= render "form", control_structure: @control_structure %>

  <%= link_to "Show this control structure", @control_structure, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to control structures", control_structures_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
