<div class="class-containers">

  <%= render "simple_class/class_containers/class_container/header", class_container: class_container %>

  <%= render "simple_class/class_containers/class_container/search_bar", class_container: class_container %>

  <%= render "simple_class/class_containers/class_container/actions_bar", class_container: class_container %>

  <%= render "simple_class/class_containers/class_container/container_members_list", class_container: class_container %>

</div>

