<div id="top">
  <div class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">

    <%= render "shared/tech_show_partials/tech_breadcrumbs" %>
    <br>

    <%= render "users/user_settings/shared/layout", settings_type: "profile" %>

  </div>
</div>
<br>