<div class="nodraggablesteps">
  <div class="col-span-6 sm:col-span-3">
    <p class="text-xl font-bold hover:text-gray-700">Substeps:</p>
    <p class="mt-2 text-sm text-gray-500">SubSteps will go right after instruction if it's provided. SubSteps are designed to use Algorithms and Units as reusable instructions. Click on substep and move up or down to change position in the substeps list.</p>
    <%#= link_to "Add new usage example", units_path, class: "inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
  </div>
  <br>
  <br>

<!--  <div data-controller="substeps_drag" data-drag-url="/todos/:id/move">-->
  <div data-controller="substeps_drag remote_select_instruction"
       data-drag-url="/todos/:id/move"
       data-target="remote_select_instruction.substepsArea substeps_drag.substepsArea">

<!--    <div data-target="substeps_drag.substepsArea">-->
<!--      data-target="substeps_drag.substepsArea"-->

      <%#= form.fields_for :steps, algorithm_version.steps.order(position: :asc) do |t| %>
      <%= form.fields_for :substeps do |t| %>

        <%= render "algorithm/shared/partials/substeps/substep_fields", :f => t %>

      <% end %>


      <!--      <div data-target="remote_select_instruction.addSubstepOriginalButton">-->
      <div>
        <%= link_to_add_association "Add Step", form,
                                    :substeps,
                                    partial: 'algorithm/shared/partials/substeps/substep_fields',
                                    style: "display:none;",
                                    class: "nodraggablesubsteps flex text-white right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800",
                                    data: {target: "remote_select_instruction.addSubstepOriginalButton"}%>
      </div>


      <%= render "algorithm/shared/partials/instructions_search/modal", :form => form %>


<!--    </div>-->

  </div>

</div>
