<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing cheat sheet group version</h1>

  <%= render "form", cheat_sheet_group_version: @cheat_sheet_group_version %>

  <%= link_to "Show this cheat sheet group version", @cheat_sheet_group_version, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to cheat sheet group versions", cheat_sheet_group_versions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
