<div class="framework-folder">

  <%= render "framework/framework_folders/show_partials/header", framework_folder: framework_folder %>

  <%= render "framework/framework_folders/show_partials/search_bar", framework_folder: framework_folder %>

  <%= render "framework/framework_folders/show_partials/actions_bar", framework_folder: framework_folder %>

  <%= render "framework/framework_folders/show_partials/container_members_list", framework_folder: framework_folder %>

</div>

