<!--      TOC-->
<div class="class-sections-toc" data-controller="toc_scrolling" data-toc_scrolling-type-value="<%=toc_type%>">
  <br>
  Table of content:
  <ul role="list" class="space-y-3 text-base list-none sm:text-lg md:mt-5 md:text-xl">

<!--    <li>-->
<!--      <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"-->
<!--         onclick="return false;"-->
<!--         href=""-->
<!--         data-action="click->toc_scrolling#scroll"-->
<!--         data-anchor="#class-components"-->
<!--      >-->
<!--        ↳ Components-->
<!--      </a>-->
<!--    </li>-->


    <li>
      <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
         onclick="return false;"
         href=""
         data-action="click->toc_scrolling#scroll"
         data-anchor="#framework-interface"
      >
        ↳ Framework interface
      </a>
    </li>

    <li>
      <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
         onclick="return false;"
         href=""
         data-action="click->toc_scrolling#scroll"
         data-anchor="#framework-decision-boxes"
      >
        ↳ Decision boxes
      </a>
    </li>

    <li>
      <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
         onclick="return false;"
         href=""
         data-action="click->toc_scrolling#scroll"
         data-anchor="#framework-folders"
      >
        ↳ Folders
      </a>
    </li>


<!--    <li>-->
<!--      <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"-->
<!--         onclick="return false;"-->
<!--         href=""-->
<!--         data-action="click->toc_scrolling#scroll"-->
<!--         data-anchor="#class-actions"-->
<!--      >-->
<!--        ↳ Actions-->
<!--      </a>-->
<!--    </li>-->

  </ul>
</div>