<!-- Nested form for attached to attribute articles-->
<div class="col-span-6 sm:col-span-3">
  <p class="text-sl font-bold hover:text-gray-700 text-center">Article Attachments:</p>
  <p class="mt-2 text-sm text-gray-500">Here you can add Articles with more details about attribute.</p>
</div>
<br>

<div data-controller="remote_select_instruction"
     data-target="remote_select_instruction.simpleClassAttributeArticleAttahcmnetsArea"
     data-remote_select_instruction-select-type-value="simple_class_form_article_to_attribute_attachment"
>

  <%= f.fields_for :articles_simple_class_attributes do |t| %>
    <%= render "simple_class/simple_class_attributes/form_partials/aritlce_attachments/article_attachment_fields", :f => t %>
  <% end %>

  <div>
    <%= link_to_add_association "Add Article", f,
                                :articles_simple_class_attributes,
                                style: "display:none;",
                                partial: 'simple_class/simple_class_attributes/form_partials/aritlce_attachments/article_attachment_fields',
                                class: "nodraggablesteps inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2",
                                data: {target: "remote_select_instruction.addArticleToAttributeInSimpleClassFormOriginalButton"}
    %>
  </div>

  <%= render "shared/technologies_search/modal", :type => "simple_class_form_article_to_attribute_attachment", scenario: "regular" %>
</div>
<br>
