<!-- Three columns -->
<div class="flex mb-4">
  <div class="w-1/5 h-12">
    <%= render "simple_class/simple_classes/partials/content/bars/left_bar", simple_class: @simple_class %>
  </div>
  <div class="w-3/5">
    <%= render "simple_class/simple_classes/partials/content/bars/middle_bar", simple_class: @simple_class %>
  </div>
  <div class="w-1/5 h-12">
    <%= render "simple_class/simple_classes/partials/content/bars/right_bar", simple_class: @simple_class %>
  </div>
</div>






