<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing class container</h1>

  <%= render "form", class_container: @class_container %>

  <%= link_to "Show this class container", @class_container, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to class containers", class_containers_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
