<div id="top">
  <div class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">

    <%= render "shared/tech_show_partials/tech_breadcrumbs" %>

    <%= render "simple_class/class_containers/class_container/main_page", class_container: @class_container %>

  </div>
</div>

<%= render "shared/scroll_to_top" %>