<div id="<%= dom_id simple_class_attribute %>">
  <% if action_name != "show" %>
    <%= link_to "Show this simple class attribute", simple_class_attribute, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this simple class attribute', edit_simple_class_attribute_path(simple_class_attribute), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
